/* GENERAL  */

html,
body{
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

header, main{
    margin-left: 5%;
    margin-right: 5%;
}

.display-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* MENU */

.logo{
    width: 200px;
    height: 85px;
    margin-top: 20px;
    margin-bottom: 7px;
}

.navigation {
    height: auto;
    display: flex;
  }
  
.menu {
    margin-left: 60%;
  }
  
.display-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.hebergements-border{
    color: #0065fc;
    border-top: 1px solid #0065fc;
    width: 140px;
    text-align: center;
  }

.activites-border{
    color: black;
    border-top: 1.5px solid transparent;
    width: 140px;
    text-align: center;
  }

.item{
    text-decoration: none;
    padding-top: 35px;
  }
  
.size-link {
    width: 140px;
    height: 99px;
  }
  
/* HEADER */

header h1{
    font-weight: bold;
}

#search_button{
    font-size: 18px;
}

.nav-subtitle{
    font-size: 22px;
}

/* SEARCH BAR */

.search_bar{
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}

.icon_map{
    background-color: #f2f2f2;
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}

.text_bar{
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    border: none;
    padding-left: 20px;
}

.search_button{
    background-color: #0065fc;
    height: 50px;
    width: 120px;
    color: white;
    border-radius: 0 10px 10px 0;
}

.mobile{
    display: none;
}

/* FILTERS */

.filters{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.filters-fix{
    display: flex;
    align-items: center;
}

header h2{
    margin-right: 20px;
    font-size: 14px;
}

.filters p{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
    padding-top: 32px;
    font-weight: bold;
    text-transform: capitalize;
}

.border-filters{
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    transition: transform 0.5s;
}

.border-filters:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.icon-filters{
    color: #0065fc;
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    background-color: #deebff;
    position: relative;
    box-sizing: border-box;
}

.fa-money-bill-wave{
    padding: 16px 13px;
}

.fa-child{
    padding: 17px 17px;
}

.fa-heart{
    padding: 17px 15px;
}

.fa-dog{
    padding: 15px 15px;
}

/* INFO */

.info{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.info-icon{
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
    color: #0065fc;
    position: relative;
    padding: 1.5px 5px;
    box-sizing: border-box;
}

/* HEBERGEMENTS */

#hebergements{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 2;
    height: 700px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-right: 20px;
}

.hebergement-title{
    margin-top: 40px;
}

.ligne1{
    margin-bottom: 10px;
}

.ligne2{
    margin-top: 10px;
}

.hebergements-thumbnail{
    text-decoration: unset;
    width: 30%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 10px 5px #f2f2f2;
}

.hebergements-pictures{
    object-fit: cover;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.description-herbergement{
    width: 90%;
    color: black;
}

.blue{
    color: #0065fc;
}

.gray{
    color: #f2f2f2;
}

.plus{
    font-weight: bold;
    font-size: large;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* POPULAIRE */

.populaires{
    flex: 1;
    height: 700px;
    margin-left: 20px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f2f2f2;
}

.icon-align{
    align-items: baseline;
}

.populaires-colomn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

aside h2{
    font-weight: bold;
    margin-top: 40px;
}

.populaires-thumbnail{
    text-decoration: unset;
    margin-bottom: 40px;
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
}

.fa-chart-line{
    margin-top: 20px;
}

.populaires-pictures{
    object-fit: cover;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}

.description-populaires{
    width: 60%;
    padding-left: 5%;
    color: black;
}

/* ACTIVITES */

#activites{
    margin-top: 50px;
    margin-bottom: 50px;
}

.activites-title{
    margin-bottom: 40px;
}

.activites-frame{
    width: 100%;
    height: 600px;
}

.big-pic{
    text-decoration: unset;
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.pic-title{
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
    color: black;
}

.split-pic{
    width: 23%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.medium-pic{
    text-decoration: unset;
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 10px 10px 1px #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activites1-pic{
    object-fit: cover;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}

.activites2-pic{
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
}
.activites3-pic{
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}
.activites4-pic{
    object-fit: cover;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}
.activites5-pic{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
.activites6-pic{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}

/* Footer */

.footer{
    height: 200px;
    margin-top: 80px;
    background-color: #f2f2f2;
}

.margin-footer1{
    margin-left: 5%;
    height: 150px;
}

.margin-footer2{
    height: 150px;
}

.margin-footer3{
    margin-right: 26%;
    height: 150px;
}

.link-footer{
    height: 30px;
}

.link-decoration{
    text-decoration: none;
    color: black;
}

/* Responsive */

/*Tablets*/
@media screen and (max-width: 992px){
    .menu{
        margin-left: 35%;
    }

    .description-herbergement{
        min-height: 150px;
    }

    .top-block{
        flex-direction: column-reverse;
        width: 100%;
    }

    #hebergements{
        flex: none;
        width: 90%;
        margin-right: 0;
        margin-top: 50px;
        padding: 5%;
    }

    .populaires{
        min-height: auto;
        padding: 20px;
    }

    aside h2{
        margin-top: 0;
    }

    .filters{
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-tab{
        margin-bottom: 20px;
    }

    .populaires{
        flex: none;
        width: 90%;
        margin-left: 0;
        padding: 5%;
    }
}

/*Mobile phones*/
@media screen and (max-width: 768px){

    .desktop{
        display: none;
    }

    .mobile-border1{
        border-bottom: 5px solid #0065fc;
    }

    .mobile-border2{
        border-bottom: 5px solid #f2f2f2;
    }

    .hebergements-border{
        border-top: none;
    }

    .item{
        font-weight: bold;
    }

    .navigation{
        flex-direction: column;
        align-items: center;
    }

    .mobile-logo{
        padding-left: 5%;
    }

    .size-link{
        flex-direction: row;
        width: 50%;
    }

    .menu{
        width: 100%;
        margin-left: 0;
        margin-top: -20px;
    }

    .text_bar{
        width: 300px;
        border-bottom: 1px solid #f2f2f2;
        border-top: 1px solid #f2f2f2;
    }

    .search_bar{
        width: auto;
        border: none;
        margin-top: 40px;
        margin-bottom: -10px;
    }

    .search_button{
        width: 50px;
        border-radius: 15px;
    }

    .mobile{
        display: block;
    }

    .filter-bold{
        font-size: large;
        font-weight: bold;
    }

    .filters-mobile{
        display: flex;
        flex-wrap: wrap;
    }

    .info{
        margin-top: -35px;
    }

    .populaires{
        border-radius: 0px;
        width: 100%;
        height: auto;
    }

    .populaire-mobile{
        margin-bottom: 15px;
    }

    .populaires-thumbnail{
        margin-bottom: 15px;
    }

    #hebergements{
        height: auto;
        width: 100%;
        background-color: white;
        margin-top: -10px;
    }

    .ligne1{
        flex-direction: column;
        margin-bottom: 0;
    }

    .ligne2{
        flex-direction: column;
        margin-top: 0;
    }

    .hebergements-thumbnail{
        width: 100%;
        margin-bottom: 15px;
    }

    .description-herbergement{
        min-height: auto;
    }

    #activites{
        margin-top: -20px;
    }

    .activites-frame{
        flex-direction: column;
        height: auto;
    }

    .big-pic{
        width: 100%;
        margin-bottom: 40px;
    }

    .split-pic{
        width: 100%;
        height: auto;
    }

    .medium-pic{
        margin-bottom: 40px;
    }

    .mobile-height{
        height: 200px;
    }

    .footer{
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding-left: 20px;
        margin-top: -30px;
    }

    .margin-footer1{
        margin-left: 0;
    }
}